//-----------------------------------------------------------------------------
// Paper Plane xUI	 commom library		リソース
//
// ダイアログサイズは、318,190 未満推奨
// ( Win95/98 640*480 のとき、Eng:318,214 Jpn:318,190 が最大値)
//-----------------------------------------------------------------------------
#ifndef WINEGCC
#include "PPXVER.H"
#include "PPXID.H"
#include "PPX.RH"
#include "PPXMES.RH"
#endif
#include "PPCOMMON.RH"
//-------------------------------------------------------------------- アイコン
Ic_FOP ICON "resource/PPFILEOP.ICO"
Ic_PPE ICON "resource/PPEUI.ICO"

//------------------------------------------------------------------ ダイアログ
//-------------------------------------- 空
IDD_NULL DIALOG 0, 0, 1, 1
EXSTYLE WS_EX_DLGMODALFRAME
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
{
}
IDD_NULLMIN DIALOG 0, 0, 1, 1
EXSTYLE WS_EX_DLGMODALFRAME
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
{
}
//-------------------------------------- 汎用入力窓
IDD_INPUT DIALOG 0, 0, 310, 12
EXSTYLE WS_EX_DLGMODALFRAME
STYLE DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "Execute"
{
 CONTROL MES_700A, IDS_INPUT_LINE, "Static", SS_LEFT | WS_CHILD | WS_VISIBLE, 0, 0, 0, 12, 0
 CONTROL "", IDE_INPUT_LINE, "Edit", IDE_INPUT_LINE_STYLE, 0, 0, 234, 12, WS_EX_ACCEPTFILES
 CONTROL MES_0001, IDOK, "Button", BS_DEFPUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE, 234, 0, 25, 12
 CONTROL MES_0002, IDCANCEL, "Button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE, 259, 0, 25, 12
 CONTROL MES_77FD, IDB_REF, "Button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 284, 0, 25, 12
}

//-------------------------------------- 汎用入力窓(参照行付き)
IDD_INPUTREF DIALOG 0, 0, 234, 41
EXSTYLE WS_EX_DLGMODALFRAME
STYLE DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "Execute"
{
 CONTROL "", IDE_INPUT_REF, "Edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL | ES_NOHIDESEL, 0, 0, 234, 12, 0
 CONTROL MES_700A, IDS_INPUT_LINE, "Static", SS_LEFT | WS_CHILD | WS_VISIBLE, 0, 12, 0, 12, 0
 CONTROL "", IDE_INPUT_LINE, "Edit", IDE_INPUT_LINE_STYLE, 0, 12, 234, 12, WS_EX_ACCEPTFILES

 CONTROL MES_7005, IDB_INPUT_EXT, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 2, 28, 44, 10, 0
 CONTROL "", IDE_INPUT_EXT, "Edit", ES_LEFT | WS_CHILD | WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL | WS_VSCROLL, 47, 27, 34, 12, WS_EX_ACCEPTFILES

 CONTROL MES_78C2, IDB_PREV, "Button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 84, 28, 25, 11, 0
 CONTROL MES_78C3, IDB_NEXT, "Button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 110, 28, 25, 11, 0

 CONTROL MES_0001, IDOK, "Button", BS_DEFPUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 140, 27, 30, 12, 0
 CONTROL MES_0002, IDCANCEL, "Button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 171, 27, 30, 12, 0
 CONTROL MES_77FD, IDB_REF, "Button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 202, 27, 30, 12, 0
}
//-------------------------------------- 汎用入力窓(追加ボタン付き)
IDD_INPUT_OPT DIALOG 0, 0, 234, 31
EXSTYLE WS_EX_DLGMODALFRAME
STYLE DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "Execute"
{
 CONTROL MES_700A, IDS_INPUT_LINE, "Static", SS_LEFT | WS_CHILD | WS_VISIBLE, 0, 12, 0, 12, 0
 CONTROL "", IDE_INPUT_LINE, "Edit", IDE_INPUT_LINE_STYLE, 0, 0, 234, 12, WS_EX_ACCEPTFILES
 CONTROL MES_7007, IDB_INPUT_OPT, "Button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 2, 18, 60, 10, 0
 CONTROL MES_0001, IDOK, "Button", BS_DEFPUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 140, 17, 30, 12, 0
 CONTROL MES_0002, IDCANCEL, "Button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 171, 17, 30, 12, 0
 CONTROL MES_77FD, IDB_REF, "Button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 202, 17, 30, 12, 0
}
//-------------------------------------- ネットワーク接続
IDD_LOGIN DIALOG 0, 8, 258, 58
EXSTYLE WS_EX_DLGMODALFRAME
STYLE DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION MES_7018
{
 CONTROL MES_7019, IDS_LOGINDRIVE, "Static", SS_LEFTNOWORDWRAP | WS_CHILD | WS_VISIBLE, 2, 2, 56, 10, 0
 CONTROL "", IDS_LOGINPATH, "Static", SS_LEFTNOWORDWRAP | WS_CHILD | WS_VISIBLE, 58, 2, 160, 10, 0
 CONTROL MES_701E, IDS_LOGINUSER, "Static", SS_LEFTNOWORDWRAP | WS_CHILD | WS_VISIBLE, 2, 16, 56, 10, 0
 CONTROL "", IDE_LOGINUSER, "Edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL | ES_NOHIDESEL, 58, 14, 160, 12, 0
 CONTROL MES_701F, IDS_LOGINPASS, "Static", SS_LEFTNOWORDWRAP | WS_CHILD | WS_VISIBLE, 2, 31, 56, 10, 0
 CONTROL "", IDE_LOGINPASS, "Edit", ES_LEFT | ES_PASSWORD | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL | ES_NOHIDESEL, 58, 29, 160, 12
 CONTROL MES_701D, IDX_LOGINRE, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 58, 45, 160, 10, 0
 CONTROL MES_0001, IDOK, "Button", BS_DEFPUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE, 221, 2, 36, 12
 CONTROL MES_0002, IDCANCEL, "Button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE, 221, 16, 36, 12
}
//-------------------------------------- PPb の作業終了待ち
IDD_WAITPPB DIALOG 0, 0, 232, 36
EXSTYLE WS_EX_DLGMODALFRAME
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION MES_7011
{
 CONTROL MES_7012, IDS_WAITPPB, "Static", SS_CENTER | WS_CHILD | WS_VISIBLE, 2, 8, 194, 9, 0
 CONTROL MES_0002, IDCANCEL, "Button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 2, 21, 38, 12
 CONTROL MES_7013, IDB_WAITPPB_NOPPB, "Button", BS_DEFPUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 44, 21, 84, 12
 CONTROL MES_7014, IDB_WAITPPB_NEWPPB, "Button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 132, 21, 84, 12
 CONTROL MES_7009, IDB_DIALOG_OPTION, "Button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 218, 21, 12, 12
}
//-------------------------------------- File Operation
//---- 共通
IDD_FOP DIALOG 0, 0, 254, IDD_FOP_Y_FULL
EXSTYLE WS_EX_DLGMODALFRAME
STYLE DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME | WS_MINIMIZEBOX
CAPTION MES_7020
#ifndef WINDRES
#ifndef WINEGCC
CLASS PPFileOpWinClass
#endif
#endif
{
 CONTROL MES_0001, IDOK, "Button", BS_DEFPUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 213, 0, 39, 12
 CONTROL MES_0002, IDCANCEL, "Button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 213, 14, 39, 12

 CONTROL MES_7400, IDB_TEST, "Button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 213, 48, 39, 12, 0
 CONTROL MES_7079, IDB_FOP_LOG, "Button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_TABSTOP, 213, 62, 25, 12, 0
 CONTROL "&?", IDHELP, "Button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 240, 62, 12, 12, 0
 CONTROL "", IDC_FOP_MODE, "Button", BS_PUSHBUTTON | BS_FLAT | BS_LEFT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 213, 92, 39, 12, 0

 CONTROL "", IDC_FOP_ACTION, "Button", BS_PUSHBUTTON | BS_LEFT | BS_FLAT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 0, 0, 80, 12
 CONTROL MES_705E, IDB_FOP_GENERAL, "Button", BS_PUSHBUTTON | BS_LEFT | BS_FLAT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 84, 1, 40, 11
 CONTROL MES_705C, IDB_FOP_RENAME, "Button", BS_PUSHBUTTON | BS_LEFT | BS_FLAT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 124, 1, 40, 11
 CONTROL MES_705A, IDB_FOP_OPTION, "Button", BS_PUSHBUTTON | BS_LEFT | BS_FLAT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 164, 1, 40, 11

 CONTROL "", -1, "Static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 2, 110, 250, 1, 0
 CONTROL MES_7073, IDS_FOP_SRCPATH, "Static", SS_LEFT | WS_CHILD | WS_VISIBLE, 3, 113, 47, 9, 0
 CONTROL "", IDS_FOP_SRCNAME, PPXSTATICCLASS, WS_CHILD | WS_VISIBLE, 50, 113, 201, 10, 0
 CONTROL "", IDS_FOP_PROGRESS, PPXSTATICCLASS, WS_CHILD | WS_VISIBLE, 3, 123, 248, 10, 0
 CONTROL MES_7056, IDS_FOP_SRCTITLE, "Static", SS_LEFT | WS_CHILD | WS_VISIBLE, 3, 135, 94, 9, 0
 CONTROL MES_7057, IDS_FOP_DESTTITLE, "Static", SS_LEFT | WS_CHILD | WS_VISIBLE, 157, 135, 95, 9, 0
 CONTROL "", IDS_FOP_SRCINFO, PPXSTATICCLASS, WS_CHILD | WS_VISIBLE, 2, 144, 95, 41, 0
 CONTROL MES_7058, IDS_FOP_ATTRLABEL, "Static", SS_CENTER | WS_CHILD | WS_VISIBLE, 98, 144, 58, 40, 0
 CONTROL "", IDS_FOP_DESTINFO, PPXSTATICCLASS, WS_CHILD | WS_VISIBLE, 156, 144, 95, 41, 0
}
//---- 一般
IDD_FOP_GENERAL DIALOG 0, 0, 254, 188
EXSTYLE WS_EX_DLGMODALFRAME
STYLE DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
CAPTION ""
{
 CONTROL MES_7042, IDS_FOP_DEST, "Static", SS_LEFT | WS_CHILD | WS_VISIBLE, 2, 14, 24, 9, 0
 CONTROL "", IDE_FOP_DESTDIR, "Edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL | ES_NOHIDESEL | WS_VSCROLL, 27, 12, 180, 12, WS_EX_ACCEPTFILES | WS_EX_CLIENTEDGE
 CONTROL MES_77FD, IDB_REF, "Button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 213, 34, 39, 12, 0
 CONTROL MES_703F, IDG_FOP_SAME, "Button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 2, 26, 106, 81, 0
 CONTROL MES_7022, IDR_FOP_NEWDATE, "Button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 6, 36, 98, 9, 0
 CONTROL MES_7023, IDR_FOP_RENAME, "Button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 6, 46, 98, 9, 0
 CONTROL MES_7024, IDR_FOP_OVER, "Button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 6, 56, 98, 9, 0
 CONTROL MES_7025, IDR_FOP_SKIP, "Button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 6, 66, 98, 9, 0
 CONTROL MES_7026, IDR_FOP_ARC, "Button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 6, 76, 98, 9, 0
 CONTROL MES_7027, IDR_FOP_ADDNUM, "Button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 6, 86, 98, 9, 0
 CONTROL MES_7028, IDR_FOP_APPEND, "Button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 6, 96, 48, 9, 0
 CONTROL MES_7064, IDR_FOP_SIZE, "Button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 55, 96, 48, 9, 0
 CONTROL MES_7049, IDX_FOP_BURST, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 112, 26, 98, 9, 0
 CONTROL MES_704A, IDX_FOP_FLAT, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 112, 36, 98, 9, 0
 CONTROL MES_7034, IDX_FOP_SCOPY, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 112, 46, 98, 9, 0
 CONTROL MES_7047, IDX_FOP_SACL, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 112, 56, 98, 9, 0
 CONTROL MES_704B, IDX_FOP_KEEPDIR, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_TABSTOP, 112, 66, 98, 9, 0
 CONTROL MES_7068, IDX_FOP_ADDNUMDEST, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 112, 76, 98, 9, 0
 CONTROL MES_7036, IDX_FOP_AALL, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 112, 86, 98, 9, 0
 CONTROL MES_7029, IDX_FOP_SAME, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 112, 96, 98, 9, 0
}
//---- 名前変更
IDD_FOP_RENAME DIALOG 0, 0, 254, 188
EXSTYLE WS_EX_DLGMODALFRAME
STYLE DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
CAPTION ""
{
 CONTROL MES_7043, IDS_FOP_RENAME, "Static", SS_LEFT | WS_CHILD | WS_VISIBLE, 2, 14, 34, 9, 0
 CONTROL "", IDE_FOP_RENAME, "Edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL | WS_VSCROLL, 36, 12, 171, 12, WS_EX_ACCEPTFILES | WS_EX_CLIENTEDGE
 CONTROL MES_7045, IDS_FOP_RENUM, "Static", SS_LEFT | WS_CHILD | WS_VISIBLE, 2, 26, 34, 9, 0
 CONTROL "", IDE_FOP_RENUM, "Edit", ES_LEFT |  WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL | WS_VSCROLL, 36, 24, 48, 12, WS_EX_ACCEPTFILES | WS_EX_CLIENTEDGE
 CONTROL MES_7044, IDS_FOP_DIV, "Static", SS_RIGHT | WS_CHILD | WS_VISIBLE, 96, 26, 52, 9, 0
 CONTROL "", IDE_FOP_DIV, "ComboBox", CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 152, 24, 55, 110, WS_EX_CLIENTEDGE
 CONTROL MES_7040, IDG_FOP_NAME, "Button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 38, 64, 71, 0
 CONTROL MES_702A, IDX_FOP_UPPER, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 48, 56, 9, 0
 CONTROL MES_702B, IDX_FOP_LOWER, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 58, 56, 9, 0
 CONTROL MES_702C, IDX_FOP_SFN, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 68, 56, 9, 0
 CONTROL MES_702D, IDX_FOP_DELSPC, "Button", BS_AUTO3STATE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 78, 56, 9, 0
 CONTROL MES_702E, IDX_FOP_DELNUM, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 88, 56, 9, 0
 CONTROL MES_704E, IDX_FOP_EXTRACTNAME, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 98, 56, 9, 0
 CONTROL MES_7041, IDG_FOP_ATTR, "Button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 72, 38, 80, 71, 0
 CONTROL MES_702F, IDX_FOP_RONLY, "Button", BS_AUTO3STATE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 76, 48, 70, 9, 0
 CONTROL MES_7031, IDX_FOP_HIDE, "Button", BS_AUTO3STATE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 76, 58, 70, 9, 0
 CONTROL MES_7032, IDX_FOP_SYSTEM, "Button", BS_AUTO3STATE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 76, 68, 70, 9, 0
 CONTROL MES_7030, IDX_FOP_ARC, "Button", BS_AUTO3STATE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 76, 78, 70, 9, 0
 CONTROL MES_704F, IDX_FOP_AROFF, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 76, 98, 72, 9, 0

 CONTROL MES_7072, IDX_FOP_JOINBATCH, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 154, 38, 85, 9, 0
 CONTROL MES_7052, IDX_FOP_FILEFIX, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 154, 58, 58, 9, 0
 CONTROL MES_7078, IDX_FOP_EXTFIX, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 154, 68, 58, 9, 0
 CONTROL MES_7053, IDX_FOP_DIRFIX, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 154, 78, 98, 9, 0
 CONTROL   MES_7051, IDX_FOP_1STSHEET, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 154, 98, 58, 9, 0
}
//---- その他
IDD_FOP_OPTION DIALOG 0, 0, 254, 188
EXSTYLE WS_EX_DLGMODALFRAME
STYLE DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
CAPTION ""
{
 CONTROL MES_7054, IDX_FOP_NOWCREATEDIR, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 16, 116, 9, 0
 CONTROL MES_7035, IDX_FOP_SKIP, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 26, 116, 9, 0
 CONTROL MES_7059, IDX_FOP_LOGRWAIT, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 36, 116, 9, 0
 CONTROL MES_7050, IDX_FOP_BACKUPOLD, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 46, 116, 9, 0
 CONTROL MES_704C, IDX_FOP_USELOGWINDOW, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 56, 116, 9, 0
 CONTROL MES_704D, IDX_FOP_UNDOLOG, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 66, 116, 9, 0
 CONTROL MES_7055, IDX_FOP_LOWPRI, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 76, 116, 9, 0
 CONTROL MES_7070, IDX_FOP_PREVENTSLEEP, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 86, 126, 9, 0
 CONTROL MES_7071, IDX_FOP_ALLOWDECRYPT, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 96, 126, 9, 0

 CONTROL MES_7074, IDX_FOP_COUNTSIZE, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 122, 16, 88, 9, 0
 CONTROL MES_7075, IDX_FOP_CHECKEXISTFIRST, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 122, 26, 88, 9, 0
 CONTROL MES_7076, IDX_FOP_SERIALIZE, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 122, 36, 88, 9, 0
 CONTROL MES_7077, IDX_FOP_WAITCLOSE, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 122, 46, 88, 9, 0
 CONTROL MES_707A, IDX_FOP_SYM_MAKELINK, "Button", BS_AUTO3STATE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 122, 56, 88, 9, 0
 CONTROL MES_707B, IDX_FOP_SYM_DELREFLINK, "Button", BS_AUTO3STATE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 122, 66, 90, 9, 0
 CONTROL MES_707C, IDX_FOP_THERMAL_THROT, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 122, 76, 90, 9, 0
// CONTROL "Auto &Burst mode", IDX_FOP_LOWPRI, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 122, 46, 116, 9, 0

}
//-------------------------------------------------------------- バージョン情報
#ifndef WINDRES
#ifndef WINEGCC
1 VERSIONINFO LOADONCALL MOVEABLE
FILEVERSION	COM_ver
PRODUCTVERSION	COM_ver
FILEOS		VOS__WINDOWS32
FILETYPE	VFT_DLL
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
	BLOCK "041103A4" // 言語=日本語(0x0411) およびキャラクタセット=SJIS(0x03a4)
	BEGIN
	  VALUE "Comments",		P_Comments "\0"
	  VALUE "CompanyName",	P_Company_NAME "\0"
	  VALUE "FileDescription",	"Paper Plane Common DLL\0"
	  VALUE "FileVersion",	FileProp_Version "\0"
	  VALUE "InternalName",	"PPCOMMON\0"
	  VALUE "LegalCopyright",	P_Copyright "\0"
	  VALUE "OriginalFilename", PPCOMMONDLL "\0"
	  VALUE "ProductName", "Paper Plane xUI\0"
	  VALUE "ProductVersion",	FileProp_Version "\0"
	END
  END
  BLOCK "VarFileInfo"
  BEGIN                               //  Language    |    Translation
	VALUE "Translation", 0x0411, 932  // Japanese     | Shift-JIS X-0208
  END
END
#endif
#endif
//------------------------------------------------------------------ ユーザ定義
DEFCUSTDATA RCDATA "resource/DEFCUST.CFG"
JPNMESDATA RCDATA "resource/L0411_JP.txt"
TOOLBARIMAGE RCDATA "resource/TOOLBAR.BMP"
