//-----------------------------------------------------------------------------
// Paper Plane cUI	リソース
//-----------------------------------------------------------------------------
#include "PPXVER.H"
#include "PPXID.H"
#include "PPX.RH"
#include "PPXMES.RH"
#include "PPCUI.RH"
#ifdef WINEGCC
#include "PPCOMMON.RC"
#endif
//-------------------------------------------------------------------- アイコン
#if defined(LEGACYICON) // リソースコンパイラが png形式iconに対応していない場合
Ic_PPC		ICON DISCARDABLE "resource/PPCUIL.ICO"
Ic_LOADING	ICON DISCARDABLE "resource/LOADING.ICO"
Ic_UNKNOWN	ICON DISCARDABLE "resource/UNKNOWNL.ICO"
#else // png形式icon が使用できるとき
Ic_PPC		ICON DISCARDABLE "resource/PPCUI.ICO"
Ic_LOADING	ICON DISCARDABLE "resource/LOADING.ICO"
Ic_UNKNOWN	ICON DISCARDABLE "resource/UNKNOWN.ICO"
#endif

//-------------------------------------------------------------- ダイアログ
//-------------------------------------- Attribute
IDD_ATR DIALOG 0, 0, 252, 155
EXSTYLE WS_EX_DLGMODALFRAME
STYLE DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION MES_7800
{
 CONTROL MES_7808, IDX_ATR_OLD, "Static", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 64, 4, 32, 10, 0
 CONTROL "", IDX_ATR_OR, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_GROUP, 76, 14, 8, 9
 CONTROL "", IDX_ATR_OH, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_GROUP, 76, 24, 8, 9, 0
 CONTROL "", IDX_ATR_OS, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_GROUP, 76, 34, 8, 9, 0
 CONTROL "", IDX_ATR_OA, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_GROUP, 76, 44, 8, 9, 0
 CONTROL "", IDX_ATR_OI, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_GROUP, 76, 54, 8, 9, 0
 CONTROL "", IDX_ATR_OP, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_GROUP, 76, 64, 8, 9, 0
 CONTROL "", IDX_ATR_OY, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_GROUP, 76, 74, 8, 9, 0

 CONTROL MES_7809, IDX_ATR_NEW, "Static", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 158, 4, 28, 10, 0
 CONTROL MES_780C, IDX_ATR_NR, "Button", BS_AUTOCHECKBOX | BS_CENTER | BS_LEFTTEXT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 93, 14, 82, 9, 0
 CONTROL MES_780D, IDX_ATR_NH, "Button", BS_AUTOCHECKBOX | BS_CENTER | BS_LEFTTEXT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 93, 24, 82, 9, 0
 CONTROL MES_780E, IDX_ATR_NS, "Button", BS_AUTOCHECKBOX | BS_CENTER | BS_LEFTTEXT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 93, 34, 82, 9, 0
 CONTROL MES_780F, IDX_ATR_NA, "Button", BS_AUTOCHECKBOX | BS_CENTER | BS_LEFTTEXT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 93, 44, 82, 9, 0
 CONTROL MES_7813, IDX_ATR_NI, "Button", BS_AUTOCHECKBOX | BS_CENTER | BS_LEFTTEXT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 93, 54, 82, 9, 0
 CONTROL MES_7810, IDX_ATR_NP, "Button", BS_AUTO3STATE | BS_CENTER | BS_LEFTTEXT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 93, 64, 82, 9, 0
 CONTROL MES_7811, IDX_ATR_NY, "Button", BS_AUTO3STATE | BS_CENTER | BS_LEFTTEXT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 93, 74, 82, 9, 0
 CONTROL MES_7814, IDX_ATR_NT, "Button", BS_AUTO3STATE | BS_CENTER | BS_LEFTTEXT | WS_CHILD | WS_TABSTOP | WS_DISABLED, 93, 84, 82, 9, 0
 CONTROL MES_7815, IDX_ATR_NO, "Button", BS_AUTO3STATE | BS_CENTER | BS_LEFTTEXT | WS_CHILD | WS_TABSTOP | WS_DISABLED, 93, 94, 82, 9, 0

 CONTROL MES_7805, IDS_ATR_CLBL, "Static", SS_LEFT | WS_CHILD | WS_VISIBLE, 224, 107, 16, 10, 0
 CONTROL "", IDE_ATR_NCD, "Edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL, 133, 106, 44, 10, 0
 CONTROL "", IDE_ATR_NCT, "Edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL, 179, 106, 44, 10, 0

 CONTROL MES_7806, IDS_ATR_WLBL, "Static", SS_LEFT | WS_CHILD | WS_VISIBLE, 224, 119, 16, 10, 0
 CONTROL "", IDE_ATR_NWD, "Edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL, 133, 118, 44, 10, 0
 CONTROL "", IDE_ATR_NWT, "Edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL, 179, 118, 44, 10, 0

 CONTROL MES_7807, IDS_ATR_ALBL, "Static", SS_LEFT | WS_CHILD | WS_VISIBLE, 224, 131, 16, 10, 0
 CONTROL "", IDE_ATR_NAD, "Edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL, 133, 130, 44, 10, 0
 CONTROL "", IDE_ATR_NAT, "Edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL, 179, 130, 44, 10, 0

 CONTROL MES_780A, IDX_ATR_MDIR, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 142, 100, 11, 0
 CONTROL MES_7812, IDX_ATR_SUBD, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 133, 142, 100, 11, 0

 CONTROL MES_0001, IDOK, "Button", BS_DEFPUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 198, 4, 50, 14
 CONTROL MES_0002, IDCANCEL, "Button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 198, 20, 50, 14

 CONTROL "Help(&L)", IDHELP, "Button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 198, 48, 50, 14
 CONTROL MES_780B, IDX_ATR_DETAIL, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 198, 74, 50, 10

 CONTROL MES_7801, IDX_ATR_ATR, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 4, 46, 10, 0
 CONTROL MES_7802, IDX_ATR_C, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 106, 46, 10, 0
 CONTROL MES_7803, IDX_ATR_W, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 118, 46, 10, 0
 CONTROL MES_7804, IDX_ATR_A, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 130, 46, 10, 0

 CONTROL "", IDE_ATR_OC, "Edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP | ES_AUTOHSCROLL, 50, 106, 80, 10, 0
 CONTROL "", IDE_ATR_OW, "Edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP | ES_AUTOHSCROLL, 50, 118, 80, 10, 0
 CONTROL "", IDE_ATR_OA, "Edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP | ES_AUTOHSCROLL, 50, 130, 80, 10
}
//-------------------------------------- Drive information
IDD_DSKI DIALOG 0, 0, 284, 170
EXSTYLE WS_EX_DLGMODALFRAME
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION MES_7840
{
 CONTROL MES_0001, IDOK, "Button", BS_DEFPUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 232, 2, 50, 12
 CONTROL MES_0002, IDCANCEL, "Button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 232, 16, 50, 12, 0
 CONTROL "Help", IDHELP, "Button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 232, 38, 50, 12, 0

 CONTROL MES_7841, IDS_DSKI_DNS, "Static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 2, 52, 10, 0
 CONTROL "", IDS_DSKI_DN, "Static", SS_LEFT | WS_CHILD | WS_VISIBLE, 56, 2, 120, 10, 0
 CONTROL MES_7842, IDS_DSKI_VLABEL, "Static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 13, 50, 10, 0
 CONTROL "", IDE_DSKI_VN, "Edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL, 55, 12, 122, 10, 0
 CONTROL MES_77FF, IDB_APPLY, "Button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP, 179, 12, 50, 11, 0

 CONTROL MES_7845, IDS_DSKI_LFS, "Static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 24, 52, 10, 0
 CONTROL "", IDS_DSKI_FS, "Static", SS_LEFT | WS_CHILD | WS_VISIBLE, 56, 24, 62, 10, 0
 CONTROL MES_7844, IDS_DSKI_LSN, "Static", SS_LEFT | WS_CHILD | WS_VISIBLE, 118, 24, 52, 10, 0
 CONTROL "", IDS_DSKI_SN, "Static", SS_RIGHT | WS_CHILD | WS_VISIBLE, 170, 24, 60, 10, 0
 CONTROL MES_7843, IDS_DSKI_LDT, "Static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 34, 52, 10, 0
 CONTROL "", IDS_DSKI_DT, "Static", SS_LEFT | WS_CHILD | WS_VISIBLE, 56, 34, 62, 10, 0
 CONTROL MES_784C, IDS_DSKI_LMF, "Static", SS_LEFT | WS_CHILD | WS_VISIBLE, 118, 34, 94, 10, 0
 CONTROL "", IDS_DSKI_MF, "Static", SS_RIGHT | WS_CHILD | WS_VISIBLE, 212, 34, 18, 10, 0
 CONTROL MES_784A, IDS_DSKI_LNBS, "Static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 44, 52, 10, 0
 CONTROL "", IDS_DSKI_NBS, "Static", SS_LEFT | WS_CHILD | WS_VISIBLE, 56, 44, 62, 10, 0
 CONTROL MES_784B, IDS_DSKI_LNBC, "Static", SS_LEFT | WS_CHILD | WS_VISIBLE, 118, 44, 52, 10, 0
 CONTROL "", IDS_DSKI_NBC, "Static", SS_RIGHT | WS_CHILD | WS_VISIBLE, 170, 44, 60, 10, 0

 CONTROL "", -1, "Static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 2, 55, 280, 1, 0
 CONTROL MES_784D, IDS_DSKI_LBYTE, "Static", SS_RIGHT | WS_CHILD | WS_VISIBLE, 60, 57, 80, 10, 0
 CONTROL MES_784E, IDS_DSKI_LCLUS, "Static", SS_RIGHT | WS_CHILD | WS_VISIBLE, 140, 57, 60, 10, 0

 CONTROL "", IDS_DSKI_NUS, "Static", SS_RIGHT | WS_CHILD | WS_VISIBLE, 60, 67, 80, 10, 0
 CONTROL "", IDS_DSKI_NFS, "Static", SS_RIGHT | WS_CHILD | WS_VISIBLE, 60, 77, 80, 10, 0
 CONTROL "", IDS_DSKI_NRF, "Static", SS_RIGHT | WS_CHILD | WS_VISIBLE, 60, 87, 80, 10, 0
 CONTROL "", IDS_DSKI_NTS, "Static", SS_RIGHT | WS_CHILD | WS_VISIBLE, 60, 97, 80, 10, 0

 CONTROL "", IDS_DSKI_CUS, "Static", SS_RIGHT | WS_CHILD | WS_VISIBLE, 140, 67, 60, 10, 0
 CONTROL "", IDS_DSKI_CFS, "Static", SS_RIGHT | WS_CHILD | WS_VISIBLE, 140, 77, 60, 10, 0
 CONTROL "", IDS_DSKI_CTS, "Static", SS_RIGHT | WS_CHILD | WS_VISIBLE, 140, 97, 60, 10, 0

 CONTROL "", IDS_DSKI_RUS, "Static", SS_RIGHT | WS_CHILD | WS_VISIBLE, 200, 67, 30, 10, 0
 CONTROL "", IDS_DSKI_RFS, "Static", SS_RIGHT | WS_CHILD | WS_VISIBLE, 200, 77, 30, 10, 0
 CONTROL "", IDS_DSKI_RRF, "Static", SS_RIGHT | WS_CHILD | WS_VISIBLE, 200, 87, 30, 10, 0

 CONTROL MES_7846, IDD_DSKI_US, "Static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 67, 52, 10, 0
 CONTROL MES_7847, IDD_DSKI_FS, "Static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 77, 52, 10, 0
 CONTROL MES_7848, IDD_DSKI_RFS, "Static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 87, 52, 10, 0
 CONTROL MES_7849, IDD_DSKI_TS, "Static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 97, 52, 10, 0

 CONTROL "", -1, "Static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 2, 108, 280, 1, 0

 CONTROL "", IDE_DSKI_LOG, "Edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP | WS_VSCROLL | ES_AUTOVSCROLL | ES_MULTILINE, 2, 108, 280, 60, 0
}
//-------------------------------------- Find & Wildcard
IDD_MASK DIALOG 0, 0, 310, 126
EXSTYLE WS_EX_DLGMODALFRAME | WS_EX_CONTEXTHELP
STYLE DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION ""
{
 CONTROL MES_700A, IDS_INPUT_LINE, "Static", SS_LEFT | WS_CHILD | WS_VISIBLE, 0, 0, 1, 12, 0
 CONTROL "", IDE_INPUT_LINE, "ComboBox", CBS_SIMPLE | CBS_AUTOHSCROLL | CBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 1, 0, 232, 97, WS_EX_ACCEPTFILES
 CONTROL MES_77FD, IDB_REF, "Button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 236, 0, 32, 12

 CONTROL MES_7041, IDG_FOP_ATTR, "Button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 236, 16, 71, 58, 0
 CONTROL MES_702F, IDX_FOP_RONLY, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 240, 26, 62, 10, 0
 CONTROL MES_7032, IDX_FOP_SYSTEM, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 240, 37, 62, 10, 0
 CONTROL MES_7031, IDX_FOP_HIDE, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 240, 48, 62, 10, 0
 CONTROL MES_7030, IDX_FOP_ARC, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 240, 60, 62, 10, 0
 CONTROL MES_7881, IDX_MASK_DIR, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 240, 75, 68, 10, 0
 CONTROL MES_7882, IDX_MASK_RTM, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 240, 86, 68, 10, 0
 CONTROL MES_7885, IDX_MASK_WORDMATCH, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 2, 97, 100, 10, 0

 CONTROL MES_7884, IDB_WILDFORMAT, "Button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 1, 110, 50, 14
 CONTROL "", IDX_MASK_MODE, "Button", BS_LEFT | BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 54, 110, 178, 14, 0

 CONTROL MES_0001, IDOK, "Button", BS_DEFPUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 240, 110, 32, 14
 CONTROL MES_0002, IDCANCEL, "Button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 276, 110, 32, 14
}
//-------------------------------------- Incremental search
IDD_EJUMP DIALOG 0, 0, 260, 25
EXSTYLE WS_EX_DLGMODALFRAME | WS_EX_CONTEXTHELP
STYLE DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION MES_78C0
{
 CONTROL MES_700A, IDS_INPUT_LINE, "Static", SS_LEFT | WS_CHILD | WS_VISIBLE, 0, 0, 0, 12, 0
 CONTROL "", IDE_INPUT_LINE, "Edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP | /* WS_VSCROLL | */ ES_AUTOHSCROLL, 0, 0, 234, 12, 0
 CONTROL MES_0001, IDOK, "Button", BS_DEFPUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE, 234, 0, 25, 12
 CONTROL MES_0002, IDCANCEL, "Button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE, 234, 12, 25, 12
 CONTROL MES_78C7, IDB_FINDTYPE, "Button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 0, 12, 54, 12, 0
 CONTROL MES_78C6, IDX_ROMAMODE, "Button", BS_AUTOCHECKBOX | BS_LEFT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 60, 12, 52, 12, 0
 CONTROL MES_78C2, IDB_PREV, "Button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 164, 12, 20, 12, 0
 CONTROL MES_78C3, IDB_NEXT, "Button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 184, 12, 20, 12, 0
 CONTROL MES_78C4, IDB_MARK, "Button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 204, 12, 25, 12, 0
}
//-------------------------------------- Window-Option
IDD_CWINDOW DIALOG 0, 0, 162, 130
EXSTYLE WS_EX_DLGMODALFRAME
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION MES_78D0
{
 CONTROL MES_78DC, IDX_CWIN_CMB, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 14, 2, 70, 10, 0
 CONTROL MES_78D4, IDG_CWIN_J, "Button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 12, 16, 138, 38, 0
 CONTROL MES_78D5, IDX_CWIN_JLR, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 14, 26, 62, 9, 0
 CONTROL MES_78D6, IDX_CWIN_JUD, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 82, 26, 62, 9, 0
 CONTROL MES_78D7, IDX_CWIN_JP, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 14, 38, 62, 9, 0
 CONTROL MES_78D8, IDX_CWIN_JF, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 82, 38, 62, 9, 0
 CONTROL MES_78D9, IDG_CWIN_F, "Button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 12, 58, 138, 28, 0
 CONTROL MES_78DA, IDX_CWIN_FP, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 14, 70, 61, 9, 0
 CONTROL MES_78DB, IDX_CWIN_FUD, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 82, 70, 62, 9, 0
 CONTROL MES_78D1, IDX_CWIN_DBL, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 14, 90, 62, 9, 0
 CONTROL MES_78D2, IDX_CWIN_CLO, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 82, 90, 62, 9, 0
 CONTROL MES_78D3, IDX_CWIN_DAC, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 82, 100, 62, 9, 0

 CONTROL MES_0001, IDOK, "Button", BS_DEFPUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 22, 115, 40, 12
 CONTROL MES_0002, IDCANCEL, "Button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 68, 115, 40, 12
 CONTROL "&Help", IDHELP, "Button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 114, 115, 40, 12
}
//-------------------------------------- Sort Detail
IDD_SORT DIALOG 0, 0, 206, 148
EXSTYLE WS_EX_DLGMODALFRAME
STYLE DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION MES_78E0
{
 CONTROL "", IDC_SORT_TYPE1, "ComboBox", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL, 2, 0, 108, 148, 0
 CONTROL MES_78ED, IDX_SORT_REV1, "Button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 112, 0, 32, 12
 CONTROL "", IDC_SORT_TYPE2, "ComboBox", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL, 2, 14, 108, 148, 0
 CONTROL MES_78EE, IDX_SORT_REV2, "Button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 112, 14, 32, 12
 CONTROL "", IDC_SORT_TYPE3, "ComboBox", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL, 2, 28, 108, 148, 0
 CONTROL MES_78EF, IDX_SORT_REV3, "Button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 112, 28, 32, 12
 CONTROL MES_7041, IDG_FOP_ATTR, "Button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 2, 44, 78, 62, 0
 CONTROL MES_702F, IDX_FOP_RONLY, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 6, 54, 70, 9, 0
 CONTROL MES_7032, IDX_FOP_SYSTEM, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 6, 64, 70, 9, 0
 CONTROL MES_7031, IDX_FOP_HIDE, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 6, 74, 70, 9, 0
 CONTROL MES_7048, IDX_FOP_DIR, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 6, 84, 70, 9, 0
 CONTROL MES_7030, IDX_FOP_ARC, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 6, 94, 70, 9, 0
 CONTROL MES_78E2, IDX_SORT_CASE, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 88, 44, 112, 9, 0
 CONTROL MES_78E3, IDX_SORT_KANA, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 88, 54, 112, 9, 0
 CONTROL MES_78E4, IDX_SORT_SPACE, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 88, 64, 112, 9, 0
 CONTROL MES_78E5, IDX_SORT_SYM, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 88, 74, 112, 9, 0
 CONTROL MES_78E6, IDX_SORT_WIDE, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 88, 84, 112, 9, 0
 CONTROL MES_78E7, IDX_SORT_SS, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 88, 94, 112, 9, 0
 CONTROL MES_78E8, IDX_SORT_NUM, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 88, 104, 112, 9, 0
 CONTROL MES_78EC, IDX_SORT_LE, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 88, 114, 112, 9, 0

 CONTROL MES_77FE, IDB_SAVE, "Button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 150, 28, 50, 14, 0

 CONTROL MES_0001, IDOK, "Button", BS_DEFPUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 30, 130, 40, 14
 CONTROL MES_0002, IDCANCEL, "Button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 75, 130, 40, 14
 CONTROL "Help(&P)", IDHELP, "Button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 135, 130, 40, 14

}
//-------------------------------------- Where is ?
IDD_WHERE DIALOG 0, 0, 236, 120
EXSTYLE WS_EX_DLGMODALFRAME
STYLE DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION MES_78F0
{
 CONTROL "&?", IDHELP, "Button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 200, 13, 12, 12

 CONTROL MES_78F1, IDS_WHERE_SRC, "Button", BS_PUSHBUTTON | BS_LEFT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 0, 0, 52, 12, 0
 CONTROL MES_78F3, IDS_WHERE_F1, "Button", BS_PUSHBUTTON | BS_LEFT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 0, 13, 52, 12, 0
 CONTROL MES_78F5, IDS_WHERE_F2, "Button", BS_PUSHBUTTON | BS_LEFT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 0, 26, 52, 12, 0
 CONTROL "", IDS_WHERE_STR, "Button", BS_PUSHBUTTON | BS_LEFT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 0, 39, 52, 12, 0

 CONTROL "", IDE_WHERE_SRC, "Edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL | WS_VSCROLL, 52, 0, 146, 12, WS_EX_ACCEPTFILES | WS_EX_CLIENTEDGE
 CONTROL MES_77FD, IDB_REF, "Button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 200, 0, 32, 12
 CONTROL "", IDE_WHERE_F1, "Edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL | WS_VSCROLL, 52, 13, 146, 12, WS_EX_ACCEPTFILES | WS_EX_CLIENTEDGE
 CONTROL "", IDE_WHERE_F2, "Edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL | WS_VSCROLL, 52, 26, 146, 12, WS_EX_ACCEPTFILES | WS_EX_CLIENTEDGE
 CONTROL "", IDE_WHERE_STR, "Edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL | WS_VSCROLL, 52, 39, 146, 12, WS_EX_ACCEPTFILES | WS_EX_CLIENTEDGE
// CONTROL "&Day", -1, "Static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 48, 40, 12, 0
// CONTROL "", IDC_WHERE_DAY, "ComboBox", CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 52, 48, 136, 120, 0
// CONTROL "", -1, "msctls_updown32", WS_CHILD | WS_VISIBLE, 188, 48, 9, 12, 0
// CONTROL "Si&ze", -1, "Static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 60, 40, 12, 0
// CONTROL "", IDC_WHERE_SIZE, "ComboBox", CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 52, 60, 136, 120, 0
// CONTROL "", -1, "msctls_updown32", WS_CHILD | WS_VISIBLE, 188, 60, 9, 12, 0

 CONTROL MES_7885, IDX_MASK_WORDMATCH, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 54, 112, 12, 0

 CONTROL MES_78FA, IDX_WHERE_MARK, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 118, 54, 112, 12, 0
 CONTROL MES_78FB, IDX_WHERE_DIR, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 118, 66, 112, 12, 0
 CONTROL MES_78FC, IDX_WHERE_SDIR, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 118, 78, 112, 12, 0
 CONTROL MES_78FD, IDX_WHERE_VFS, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 118, 90, 112, 12, 0

 CONTROL MES_0001, IDOK, "Button", BS_DEFPUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 60, 106, 40, 12
 CONTROL MES_0002, IDCANCEL, "Button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 116, 106, 48, 12
}

//-------------------------------------- Compare mark Detail
IDD_CMARK DIALOG 0, 0, 180, 130
EXSTYLE WS_EX_DLGMODALFRAME
STYLE DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION MES_7900
{
 CONTROL "", IDC_TYPE, "ComboBox", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL, 8, 2, 162, 148, 0

 CONTROL MES_78FC, IDX_WHERE_SDIR, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 18, 140, 10, 0
 CONTROL MES_704C, IDX_FOP_USELOGWINDOW, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 28, 140, 10, 0

 CONTROL MES_7041, IDG_FOP_ATTR, "Button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 42, 158, 62, 0
 CONTROL MES_702F, IDX_FOP_RONLY, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 18, 52, 120, 9, 0
 CONTROL MES_7032, IDX_FOP_SYSTEM, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 18, 62, 120, 9, 0
 CONTROL MES_7031, IDX_FOP_HIDE, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 18, 72, 120, 9, 0
 CONTROL MES_7048, IDX_FOP_DIR, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 18, 82, 120, 9, 0
 CONTROL MES_7030, IDX_FOP_ARC, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 18, 92, 120, 9, 0

 CONTROL MES_0001, IDOK, "Button", BS_DEFPUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 70, 112, 40, 14
 CONTROL MES_0002, IDCANCEL, "Button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 120, 112, 40, 14
// CONTROL MES_77FE, IDB_SAVE, "Button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 144, 70, 50, 14, 0
}
//-------------------------------------- Property General Page
// Win95 Eng だと、160, 133 くらい
IDD_PROPGENERAL DIALOG 0, 0, 195, 209
STYLE WS_POPUP | WS_CAPTION
CAPTION MES_7910
FONT 10, "Terminal"
{
 CONTROL "", IDS_ICON, "Static", WS_CHILD | WS_VISIBLE | SS_ICON, 16, 4, 30, 30,  WS_EX_NOPARENTNOTIFY
 CONTROL "", IDE_FILENAME, "Edit", ES_READONLY | WS_CHILD | WS_VISIBLE | WS_TABSTOP | ES_AUTOHSCROLL, 64, 14, 196, 12, WS_EX_ACCEPTFILES | WS_EX_CLIENTEDGE | WS_EX_NOPARENTNOTIFY

 CONTROL "", -1, "Static", WS_CHILD | WS_VISIBLE | SS_ETCHEDHORZ, 8, 38, 252, 1,  WS_EX_STATICEDGE | WS_EX_NOPARENTNOTIFY
 CONTROL MES_792F, IDS_FILETYPE, "Static", WS_CHILD | WS_VISIBLE | WS_GROUP | SS_LEFT, 8, 46, 55, 10,  WS_EX_NOPARENTNOTIFY
 CONTROL "", IDE_FILETYPE, "Edit", WS_CHILD | WS_VISIBLE | ES_READONLY | ES_AUTOHSCROLL, 65, 46, 194, 10, WS_EX_NOPARENTNOTIFY
// CONTROL "Progarm:", -1, "Static", WS_CHILD | WS_VISIBLE | WS_GROUP | SS_LEFT, 8, 51, 55, 10,  WS_EX_NOPARENTNOTIFY
 CONTROL "", IDE_PASSOC, "Edit", WS_CHILD | WS_VISIBLE | ES_READONLY | ES_AUTOHSCROLL, 65, 59, 194, 10, WS_EX_NOPARENTNOTIFY

 CONTROL "", -1, "Static", WS_CHILD | WS_VISIBLE | SS_ETCHEDHORZ, 8, 74, 252, 1,  WS_EX_STATICEDGE | WS_EX_NOPARENTNOTIFY
 CONTROL MES_792E, IDS_PPATH, "Static", WS_CHILD | WS_VISIBLE | WS_GROUP | SS_LEFT, 8, 81, 55, 10,  WS_EX_NOPARENTNOTIFY
 CONTROL "", IDE_PPATH, "Edit", WS_CHILD | WS_VISIBLE | ES_READONLY | ES_AUTOHSCROLL, 65, 81, 194, 10, WS_EX_NOPARENTNOTIFY
 CONTROL MES_792D, IDS_PSIZE, "Static", WS_CHILD | WS_VISIBLE | WS_GROUP | SS_LEFT, 8, 96, 55, 10,  WS_EX_NOPARENTNOTIFY
 CONTROL "", IDE_PSIZE, "Edit", WS_CHILD | WS_VISIBLE | ES_READONLY | ES_AUTOHSCROLL, 65, 96, 194, 10, WS_EX_NOPARENTNOTIFY
// CONTROL "Disk Size:", -1, "Static", WS_CHILD | WS_VISIBLE | WS_GROUP | SS_LEFT, 8, 103, 55, 10,  WS_EX_NOPARENTNOTIFY
 CONTROL "", IDE_PALLOCSIZE, "Edit", WS_CHILD | WS_VISIBLE | ES_READONLY | ES_AUTOHSCROLL, 65, 111, 194, 10, WS_EX_NOPARENTNOTIFY

 CONTROL "", -1, "Static", WS_CHILD | WS_VISIBLE | SS_ETCHEDHORZ, 8, 126, 252, 1,  WS_EX_STATICEDGE | WS_EX_NOPARENTNOTIFY
 CONTROL MES_792C, IDS_PCREATETIME, "Static", WS_CHILD | WS_VISIBLE | WS_GROUP | SS_LEFT, 8, 133, 55, 10,  WS_EX_NOPARENTNOTIFY
 CONTROL "", IDE_PCREATETIME, "Edit", WS_CHILD | WS_VISIBLE | ES_READONLY | ES_AUTOHSCROLL, 65, 133, 194, 10, WS_EX_NOPARENTNOTIFY
 CONTROL MES_792B, IDS_SMODIFYTIME, "Static", WS_CHILD | WS_VISIBLE | WS_GROUP | SS_LEFT, 8, 148, 55, 10,  WS_EX_NOPARENTNOTIFY
 CONTROL "", IDE_PMODIFYTIME, "Edit", WS_CHILD | WS_VISIBLE | ES_READONLY | ES_AUTOHSCROLL, 65, 148, 194, 10, WS_EX_NOPARENTNOTIFY
 CONTROL MES_792A, IDS_PACCESSTIME, "Static", WS_CHILD | WS_VISIBLE | WS_GROUP | SS_LEFT, 8, 163, 55, 10,  WS_EX_NOPARENTNOTIFY
 CONTROL "", IDE_PACCESSTIME, "Edit", WS_CHILD | WS_VISIBLE | ES_READONLY | ES_AUTOHSCROLL, 65, 163, 194, 10, WS_EX_NOPARENTNOTIFY

 CONTROL "", -1, "Static", WS_CHILD | WS_VISIBLE | SS_ETCHEDHORZ, 8, 178, 252, 1,  WS_EX_STATICEDGE | WS_EX_NOPARENTNOTIFY
// CONTROL "Attributes:", -1, "Static", WS_CHILD | WS_VISIBLE | WS_GROUP | SS_LEFT, 8, 177, 44, 10,  WS_EX_NOPARENTNOTIFY
// CONTROL MES_702F, IDX_FOP_RONLY, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 54, 192, 64, 10, 0
// CONTROL MES_7031, IDX_FOP_RONLY, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 124, 207, 64, 10, 0
}
//-------------------------------------------------------------- バージョン情報
#ifndef WINDRES
#ifndef WINEGCC
1 VERSIONINFO LOADONCALL MOVEABLE
FILEVERSION	CUI_ver
PRODUCTVERSION	CUI_ver
FILEOS		VOS__WINDOWS32
FILETYPE	VFT_APP
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
	BLOCK "041103A4" // 言語=日本語(0x0411) およびキャラクタセット=SJIS(0x03a4)
	BEGIN
	  VALUE "Comments",		P_Comments "\0"
	  VALUE "CompanyName",	P_Company_NAME "\0"
	  VALUE "FileDescription",	"Paper Plane cUI\0"
	  VALUE "FileVersion",	FileProp_Version "\0"
	  VALUE "InternalName",	"PPCUI\0"
	  VALUE "LegalCopyright",	P_Copyright "\0"
	  VALUE "OriginalFilename", PPCEXE "\0"
	  VALUE "ProductName", "Paper Plane xUI\0"
	  VALUE "ProductVersion",	FileProp_Version "\0"
	END
  END
  BLOCK "VarFileInfo"
  BEGIN                               //  Language    |    Translation
	VALUE "Translation", 0x0411, 932  // Japanese     | Shift-JIS X-0208
  END
END
#endif
#endif
//---------------------------------------------- アプリケーションのマニフェスト
1 24
{
"<?xml version=""1.0"" encoding=""UTF-8"" standalone=""yes""?>"
"<assembly xmlns=""urn:schemas-microsoft-com:asm.v1"" manifestVersion=""1.0"">"
"<assemblyIdentity processorArchitecture=""" P_Processor """"
	" name=""" P_Company_NAME "." P_ProductName """"
	" version=""" X_Version """ type=""win32""/>"
"<description>" P_Description "</description>"
"<dependency><dependentAssembly><assemblyIdentity"
	" type=""win32"" name=""Microsoft.Windows.Common-Controls"""
	" version=""6.0.0.0"" language=""*"""
	" publicKeyToken=""6595b64144ccf1df"""
	" processorArchitecture=""" P_Processor """/>"
"</dependentAssembly></dependency>"
"<asmv3:application xmlns:asmv3=""urn:schemas-microsoft-com:asm.v3"">"
	"<asmv3:windowsSettings>"
		"<dpiAware xmlns=""http://schemas.microsoft.com/SMI/2005/WindowsSettings"">True/PM</dpiAware>"
		"<heapType xmlns=""http://schemas.microsoft.com/SMI/2020/WindowsSettings"">SegmentHeap</heapType>"
	"</asmv3:windowsSettings>"
"</asmv3:application>"
"<application xmlns=""urn:schemas-microsoft-com:asm.v3"">"
	"<windowsSettings xmlns:ws2=""http://schemas.microsoft.com/SMI/2016/WindowsSettings"">"
	"<ws2:longPathAware>true</ws2:longPathAware>"
	"<ws2:dpiAwareness>PerMonitorV2, PerMonitor</ws2:dpiAwareness>"
	"</windowsSettings>"
"</application>"
"<compatibility xmlns=""urn:schemas-microsoft-com:compatibility.v1"">"
"<application>"
"<supportedOS Id=""{8e0f7a12-bfb3-4fe8-b9a5-48fd50a15a9a}""/>" // 10,11
"<supportedOS Id=""{1f676c76-80e1-4239-95bb-83d0f6d0da78}""/>" // 8.1
"<supportedOS Id=""{4a2f28e3-53b9-4441-ba9c-d69d4a4a6e38}""/>" // 8
"<supportedOS Id=""{35138b9a-5d96-4fbd-8e2d-a2440225f93a}""/>" // 7
"<supportedOS Id=""{e2011457-1546-43c5-a5fe-008deee3d3f0}""/>" // Vista
"</application></compatibility>"
"</assembly>"
}
