//-----------------------------------------------------------------------------
// Paper Plane Fix	リソース
//-----------------------------------------------------------------------------

//-------------------------------------------------------------------- アイコン
1 ICON DISCARDABLE "resource/UNKNOWNL.ICO"
